.releases {
  width: 100%;
}

.releases__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 32px;
  margin: 0 auto;
  max-width: 1072px;
}

.releases__title {
  margin: 0 0 24px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: var(--color-black);
  text-transform: uppercase;
}

@media (max-width: 946px) {
  .releases__container {
    padding: 40px 0;
  }

  .releases__title {
    margin: 0 0 16px 32px;
    font-size: 16px;
    line-height: 20px;
  }
}
