.container {
  width: 100%;
  background-color: var(--footer-background);
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 216px;
  margin: 0 auto;
  max-width: 1440px;
}

.divider {
  margin: 0 0 10px 0;
  width: 100%;
  height: 1px;
  background-color: var(--footer-divider-background);
}
