@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("./assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("./assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("./assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
}

input {
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
}