.container {
  display: flex;
  align-items: center;
}

.mir {
  margin: 0 20px 0 0;
  max-width: 113px;
}

.sfp {
  max-width: 64px;
}

.mir__image {
  width: 100%;
}

.sfp__image {
  width: 100%;
}

.desc {
  margin: 0 0 0 auto;
  max-width: 494px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: var(--primary-color);
}
